<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        body {
          font-family: monospace;
        }
        figure { 
          border: 1px solid #ccc;
          padding: 1rem;
        }
        a { 
          font-size: 2rem;
          color: rgb(61, 0, 118);
          text-decoration: none;
        }
        a:hover { 
          color: rgb(255, 95, 111);
          text-decoration: underline;
        }
        div { 
          margin: 1rem;
        }
        
      </style>
    <title>Select Sections</title>
</head>
<body>
  <h1>Select Sketch</h1>
  {% for section, section_time in zip_sections %}
  <div>
      <a href="{{ url_for('display', section=section) }}">🡒 {{section_time}}: {{ section }}</a>
  </div>
  {% endfor %}
</body>
</html>